*{
    margin: 0;
    padding: 0;
}
@keyframes miAnimacion {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes miAnimacion{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* Para navegadores desactualizados, este es chrome*/
@-webkit-keyframes miAnimacion{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* Para mozilla */
@-moz-keyframes miAnimacion{
    0%{
        left: 0;
    }
    50%{
        left: -100%;
    }
    100%{
        left:0%;
    }
}
#fondo1{
    position: absolute;
    width: 100%;
    height: 100vh;
    background:url(../img/background4.jpg);
    /* para repetir una estructura varias veces */

    /* background-repeat: repeat-x; */
}
#fondo2{
    position:absolute;
    width:100%;
    height: 100vh;
    background:url(../img/background2.jpg);
    /* Se ajusta al ancho de pantalla */
    background-size: cover;
    animation:miAnimacion 24a linear 12s infinite;
    -webkit-animation:miAnimacion 24s linear 12s infinite;
    -moz-animation:miAnimacion 24s linear 12s infinite;
}
#fondo3{
    position:absolute;
    width:100%;
    height: 100vh;
    background:url(../img/background3.jpg);
    /* Se ajusta al ancho de pantalla */
    background-size: cover;
    animation:miAnimacion 24a linear 6s infinite;
    -webkit-animation:miAnimacion 24s linear 6s infinite;
    -moz-animation:miAnimacion 24s linear 6s infinite;
}
#fondo4{
    position:absolute;
    width:100%;
    height: 100vh;
    background:url(../img/background.jpg);
    animation:miAnimacion 24a linear 6s infinite;
    -webkit-animation:miAnimacion 24s linear 6s infinite;
    -moz-animation:miAnimacion 24s linear 6s infinite;
}