*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    font-family:sans-serif;
}
/* Inicia el acordón */
#acordeon input{
    display:none;
}
#acordeon label{
    display: block;
    width: 100%;
    line-height:80px;
    text-align:center;
    background:#ccc;
    border:1px solid #555;
    cursor:pointer;
}
#acordeon h1{
    padding:5%;
}
#acordeon img{
    padding: 0% 5%;
}
#acordeon p{
    width: 96%;
    padding: 5%;
    text-align:justify;
}
#acordeon div {
    height: 6px;
    height: 0px;
    overflow: hidden;
    transition: height .5s;
}
input#bloque:checked ~ #cont1 {
    height:304;
}
input#bloque:checked ~ #cont2 {
    height:304;
}
input#bloque:checked ~ #cont3 {
    height:304;
}